<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/4134bcd27d.js" crossorigin="anonymous"></script>
</head>
<body>
<<<<<<< HEAD
  <nav>
    <ul>
      <li>
        <a href="" class="menu">Пункт 1 из 3</a>
        <i class="bi bi-0-square"></i>
      </li>
      <li><a href="" class="menu">Пункт 2 из 3</a></li>
      <li><a href="" class="menu">Пункт 3 из 3</a></li>
    </ul>
  </nav>
=======
  <h1></h1>
>>>>>>> c0bec4f1777a51b1fb300dcd287d557602de636a
</body>
</html>