*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #222;
}

i{
    color: #222;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}