*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container main{
    padding:20px 36px;
}

.container main header{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.container main header .logo{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
}

.container main header .nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 19px;
}


