<main>
  <header>
    <div class="logo">
      <i class="bi bi-soundwave"></i>
      <h2>GazesStore</h2>
    </div>
    <div class="nav-links">
      <a href="">Music</a>
      <a href="">Podcast</a>
      <a href="">Live</a>
    </div>
    <div class="search">
      <i class="bi bi-search"></i>
      <input type="text" placeholder="Type here to search">
    </div>
  </header>

</main>