<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-soundwave"></i>
      GazesStore
    </a>
    <ul>
      <li><a href="" class="menu">popular</a></li>
      <li><a href="" class="menu">popular</a></li>
      <li><a href="" class="menu">popular</a></li>
    </ul>
  </div>
</nav>